/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    font-size: 18px;
}

h1 {
    font-family: 'Righteous', cursive;
}

.topo {
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    padding: 13px 0 0 21px;
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.topo h1 {
    font-size: 44px;
    letter-spacing: -1.2%;
}

.conteudo {
    padding: 123px 0 108px;
}

.conteudo h1 {
    font-size: 26px;
    color: #333333;
    letter-spacing: 1.8%;
    margin-left: 19px;
}

.caixa-opcoes {
    height: 260px;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    padding: 17px 0 27px 19px;
}

.opcao {
    height: 216px;
    width: 172px;
    background-color: #ffffff;
    padding: 18px 14px 15px;
    margin-right: 16px;
    border-radius: 9px;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.opcao img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.opcao-texto {
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 8px;
}

.descricao {
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    line-height: 18px;
}

.valor {
    font-size: 16px;
    font-weight: 400;
}

.selecionado {
    box-shadow: inset 0 0 0 5px #32b72f;
}

.check {
    font-size: 15px;
    position: absolute;
    right: 13px;
    bottom: 16px;
    color: #32b72f;
}

.rodape {
    height: 92px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
}

.rodape {
    padding: 15px 25px;
}

.rodape button {
    width: 100%;
    height: 61px;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.8%;
    z-index: 1;
}

.oculto {
    display: none;
}

.desabilitado {
    background-color: #cbcbcb;
    font-weight: 400;
    cursor: not-allowed;
}

.habilitado {
    background-color: #32b72f;
    font-weight: 700;
}